<div class="body">
    <h1 id="app">Plolike</h1>
    <h1 class="message">Let's like Programming more!!<br>Enjoy Prolike!!!<br>プログラミングを学習する人<br>全てを応援します</h1>

  <script>
    $('#app').hover(
      function() { //カーソルが「Plolike」に乗った時に
        $('.message').fadeIn(1000); //メッセージが1秒でフェードインする
      },
      function() { //カーソルが「Plolike」から離れた時に
        $('.message').fadeOut(); //一瞬でフェードアウトする
      }
    );
  </script>

  <a class="modal-btn">アプリの説明</a>
  <div class="modal-screen">
    <p>[ 基本機能 ]</p>
      <li>投稿一覧を見る</li>
      <li>投稿の詳細（コメント/良いね数）を見る</li>
      <li>ユーザーを検索する</li>
      <li>投稿者のマイページを見る</li>
      <li>投稿者が良いねした一覧を見る</li>
      <li>便利ツール&学習サイトへのアクセス</li>
    <p>[ ログインして使える機能 ]</p>
      <li>文章の投稿（学んだことをアウトプットしましょう！）</li>
      <li>投稿に対してのコメント（感想やアドバイスをお願いします！）</li>
      <li>投稿詳細ページでのいいね！機能</li>
      <li>マイページの編集</li>
      <li>時間の記録（本日の学習時間&目標学習時間）</li>
    <a class="close-btn">閉じる</a>
  </div>

  <script>
    $(".modal-btn").click(function() {
      $(".modal-screen").fadeIn(800);
    });
    $(".close-btn").click(function() {
      $(".modal-screen").fadeOut(400);
    });
  </script>

  <a href="/posts" class="btn-floating btn-large cyan pulse"><i class="material-icons">Push</i></a>
</div>